
@media only screen and (max-height : 1000px) {
    /* SECTION 6 */
    .section-6-out{
        margin-top: 15vh;
    }
    /* SECTION 7 */
    .section-7{
        margin-top: 15vh;
    }
}

@media only screen and (max-height : 800px) {
    /* SECTION 1 */
    .header-line{
        margin-top: 25px;
    }
    .header-title{
        margin-top: 25px;
    }
    .header-title-small{
        margin-top: 25px;
    }
    .header-title-button{
        margin-top: 25px;
    }
    
    /* SECTION 2 */
    .section-2{
        margin-top: 300px;
    }
    /* SECTION 2-2 */
    .section-2-2{
        margin-top: 300px;
    }
    /* SECTION 3 */
    .section-3{
        margin-top: 300px;
    }
    /* SECTION 4 */
    .section-4{
        margin-top: 300px;
    }
    
    /* SECTION 6 */
    .section-6-out{
        margin-top: 75px;
    }
    
    /* SECTION 7 */
    .section-7{
        margin-top: 50px;
    }
    .section-7-border{
        margin-bottom: 25px;
    }
    .footer{
        padding-top: 50px;
    }
    .footer-bottom{
        margin-top: 25px;
    }
    
}

@media only screen and (max-height : 700px) {
    /* SECTION 1 */
    .header-image img{
        width: 300px;
    }
    
    /* SECTION 2 */
    .section-2{
        margin-top: 200px;
    }
    /* SECTION 2-2 */
    .section-2-2{
        margin-top: 250px;
    }
    /* SECTION 3 */
    .section-3{
        margin-top: 200px;
    }
    /* SECTION 4 */
    .section-4{
        margin-top: 250px;
    }
}
@media only screen and (max-height : 600px) {
    /* SECTION 1 */
    .header-image img{
        width: 200px;
    }
    
    /* SECTION 2 */
    .section-2{
        margin-top: 150px;
    }
    /* SECTION 2-2 */
    .section-2-2{
        margin-top: 200px;
    }
    /* SECTION 3 */
    .section-3{
        margin-top: 150px;
    }
    /* SECTION 4 */
    .section-4{
        margin-top: 200px;
    }
}

@media only screen and (max-height : 600px) {
    /* SECTION 1 */
    .header-line{
        margin-top: 5px;
    }
    .header-title{
        margin-top: 5px;
    }
    .header-title-small{
        margin-top: 5px;
    }
    .header-title-button{
        margin-top: 5px;
    }
}

@media only screen and (max-width : 2000px) {
    .section-6{
        margin-left: 15%;
    }
}

@media only screen and (max-width : 800px) {
    
}